@import url(https://fonts.googleapis.com/css?family=Mulish:600,800,900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  font-family: "Mulish";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 59.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  filter: drop-shadow(2px 2px 10px rgba(215, 215, 215, 0.6));
  color: #fff;
  box-shadow: 2px 2px 10px #D7D7D7;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease 0s;
  border-radius: 24px;
  padding: 10px 27px;
}
@media (max-width: 47.99875em) {
  .button {
    filter: none;
  }
}

.button-hire {
  background-color: #8338EC;
}
.button-hire:hover {
  background-color: #6815dc;
}

.button-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  padding: 7px;
  transition: background-color 0.3s ease 0s;
  background-color: #8338EC;
}
.button-circle:hover {
  background-color: #6815dc;
}
.button-circle img {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-resume {
  background-color: #fff;
  color: #000000;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}
.button-resume:hover {
  background-color: #e6e6e6;
}
.button-resume span {
  padding: 0px 17.41px 0px 0px;
}

.button-skill {
  border: 2px solid #8338EC;
  border-radius: 24px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease 0s;
  color: #000000;
}
.button-skill:hover {
  border: 2px solid #537EC7;
}

.button-more {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #8338EC;
}

.title {
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}

.label {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 0px 0px 20px 0px;
}

.swiper-scrollbar {
  background-color: red;
  height: 10px;
}
.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: green;
  width: 10px;
  height: 10px;
}

.decor {
  height: 2px;
  width: 155px;
  background-color: #000;
  margin: 0px 0px 35px 0px;
}

.decor-education {
  margin: 0px 0px 15px 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-150vh);
    transition: all 0.5s ease 0s;
  }
}
.menu-open .menu__body {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(0vh);
  transition: all 0.5s ease 0s;
}
.menu-open .menu__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 240px 0px 495px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(0vh);
  transition: all 0.5s ease 0s;
}
.menu-open .menu__item:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.menu-open .menu__item a {
  font-size: 28px;
  color: #8338EC;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.header._header-scroll {
  position: fixed;
  transform: translateY(-200%);
}
.header._header-show {
  background-color: rgba(250, 250, 250, 0.98);
  transition: transform 0.3s ease 0s;
  transform: translateY(0%);
}
.header__container {
  position: relative;
  z-index: 10;
  height: 102px;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__container {
    height: 70px;
  }
}
.header__logo {
  font-style: italic;
  font-weight: 1000;
  font-size: 24px;
  line-height: 30px;
  color: #8338EC;
}
.header__button {
  margin: 0px 25px 0px 0px;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
}
@media (max-width: 47.99875em) {
  .menu__list {
    display: none;
  }
}
.menu__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.menu__link {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
.menu__link:hover {
  text-decoration: underline;
}

._navigator-active {
  text-decoration: underline;
  color: #8338EC;
}

.footer {
  background-color: rgba(50, 50, 50, 0.99);
  opacity: 0.35;
  transition: all 0.3s ease 0s;
  padding: 75px 0 0 0;
  color: #fff;
}
@media (max-width: 767.98px) {
  .footer {
    opacity: 1;
  }
}
.footer._watcher-view {
  opacity: 1;
}
.footer__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0px 0px 30px 0px;
}
.footer__body {
  display: flex;
  align-items: center;
  margin: 0px 0px 75px 0px;
}
@media (max-width: 767.98px) {
  .footer__body {
    flex-direction: column;
    margin: 0px 0px 30px 0px;
  }
}
.footer__text {
  flex: 0 0 70%;
}
@media (max-width: 767.98px) {
  .footer__text {
    flex: 0 0 100%;
    margin: 0px 0px 50px 0px;
  }
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex: 0 0 30%;
}
@media (max-width: 767.98px) {
  .footer__links {
    flex: 0 0 100%;
  }
}
.footer__link img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.footer__date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #000;
  color: gray;
}

.contact {
  background-color: rgba(85, 85, 85, 0.99);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  border: 2px solid #000;
}
.contact:hover {
  transform: scale(1.1);
}

.home {
  height: 800px;
  display: flex;
  align-items: center;
  opacity: 0.35;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .home {
    opacity: 1;
  }
}
@media (max-width: 563.98px) {
  .home {
    margin: 55px 0px 55px 0px;
  }
}
@media (max-width: 424.98px) {
  .home {
    margin: 35px 0px 55px 0px;
  }
}
.home._watcher-view {
  opacity: 1;
}
.home__container {
  display: flex;
  padding: 63px 15px 0px 15px;
}
@media (max-width: 767.98px) {
  .home__container {
    flex-wrap: wrap;
    padding: 60px 15px 0px 15px;
  }
}
.home__info {
  flex: 0 0 45%;
  margin: 0px 54px 0px 0px;
}
@media (max-width: 767.98px) {
  .home__info {
    flex: 0 0 100%;
    margin: 0px 0px 0px 0px;
  }
}
.home__label {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  margin: 0px 0px 16px 0px;
}
.home__label span {
  color: #537EC7;
}
.home__name {
  font-weight: 1000;
  font-size: 48px;
  line-height: 58px;
  color: #000;
  margin: 0px 0px 25px 0px;
}
.home__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 65px 0px;
}
@media (max-width: 563.98px) {
  .home__text {
    margin: 0px 0px 30px 0px;
  }
}
.home__button {
  display: flex;
}
@media (max-width: 563.98px) {
  .home__button {
    align-items: center;
  }
}
.home__button a:not(:last-child) {
  margin: 0px 11px 0px 0px;
}
@media (max-width: 1023.98px) {
  .home__button {
    display: inline-flex;
    flex-direction: column;
  }
  .home__button a:not(:last-child) {
    margin: 0px 0px 11px 0px;
    text-align: center;
  }
}
@media (max-width: 563.98px) {
  .home__button {
    display: flex;
  }
  .home__button a {
    width: 300px;
    justify-content: center;
  }
}
.home__image {
  flex: 0 0 55%;
  margin: -50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__image img {
  position: relative;
  animation: human 1s linear infinite alternate;
  width: 550px;
}
@media (max-width: 1023.98px) {
  .home__image {
    margin: 0px 0px 0px -30px;
  }
}
@media (max-width: 767.98px) {
  .home__image {
    flex: 0 0 100%;
    margin: -180px 0px 0px 120px;
  }
  .home__image img {
    width: 400px;
  }
}
@media (max-width: 627.98px) {
  .home__image {
    margin: -150px 0px 0px 120px;
  }
  .home__image img {
    width: 300px;
  }
}
@media (max-width: 563.98px) {
  .home__image {
    margin: 0px 0px 0px 0px;
  }
  .home__image img {
    width: 300px;
  }
}
.home__shadow {
  width: 243.66px;
  height: 36.55px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.8) 0%, rgba(196, 196, 196, 0) 100%);
  transform: matrix(1, 0.02, -0.01, 1, 0, 0);
}

@keyframes human {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}
.about {
  display: flex;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.99);
  opacity: 0.35;
  transition: all 0.3s ease 0s;
  padding: 75px 0 75px 0;
}
@media (max-width: 767.98px) {
  .about {
    opacity: 1;
  }
}
.about._watcher-view {
  opacity: 1;
}
.about__title {
  margin: 0px 0px 15px 0px;
}
.about__body {
  display: flex;
}
@media (max-width: 1023.98px) {
  .about__body {
    flex-direction: column;
  }
}
.about__skills {
  flex: 0 0 69.5%;
  margin: 0px 20px 0px 0px;
}
@media (max-width: 1023.98px) {
  .about__skills {
    margin: 0px 0px 35px 0px;
  }
}
.about__education {
  flex: 0 0 30.5%;
}

.skills-about {
  box-shadow: 3px 3px 10px 7px rgba(215, 215, 215, 0.2);
  border-radius: 24px;
  padding: 20px 25px;
}
.skills-about__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skills-about__skill {
  cursor: default;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 397.98px) {
  .skills-about__skill {
    padding: 6px 10px;
  }
}

.education-about {
  box-shadow: 3px 3px 10px 7px rgba(215, 215, 215, 0.2);
  border-radius: 24px;
  padding: 18px 22px;
}
@media (max-width: 1023.98px) {
  .education-about {
    max-width: 550px;
  }
}
.education-about__education {
  border-radius: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
}
@media (max-width: 1023.98px) {
  .education-about__education {
    min-height: 70px;
    padding: 5px 10px;
  }
}
.education-about__education:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.projects {
  opacity: 0.35;
  transition: all 0.3s ease 0s;
  padding: 75px 0;
}
@media (max-width: 767.98px) {
  .projects {
    opacity: 1;
  }
}
.projects._watcher-view {
  opacity: 1;
}
.projects__container {
  padding: 0px 15px;
}
.projects__row {
  display: flex;
  align-items: center;
}
.projects__title {
  margin: 0px 0px 15px 0px;
}
.projects__arrow {
  padding: 0 15px 0 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.projects__arrow:hover {
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}
.projects__arrow-right {
  padding: 0 0 0 15px;
}
.projects__items {
  flex: 1 1 auto;
}
.item-projects {
  display: flex;
}
.item-projects__body {
  box-shadow: 3px 3px 10px 7px rgba(215, 215, 215, 0.2);
  border-radius: 24px;
  padding: 20px 25px 57px 25px;
  display: flex;
  flex-direction: column;
  height: inherit;
}
.item-projects__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 374.98px) {
  .item-projects__info {
    flex-direction: column;
    align-items: start;
    margin: 0px 0px 15px 0px;
  }
}
.item-projects__label {
  color: #000;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
}
@media (max-width: 374.98px) {
  .item-projects__label {
    margin: 0px 0px 5px 0px;
  }
}
.item-projects__text {
  color: rgba(0, 0, 0, 0.8);
  margin: 0px 0px 15px 0px;
  flex: 1 1 auto;
}
@media (max-width: 374.98px) {
  .item-projects__text {
    font-size: 14px;
  }
}
.item-projects__more {
  width: max-content;
}
.item-projects__more:hover {
  transition: color 0.3s ease 0s;
  color: #537EC7;
}

.contacts {
  display: flex;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.99);
  opacity: 0.35;
  transition: all 0.3s ease 0s;
  padding: 75px 0;
}
@media (max-width: 767.98px) {
  .contacts {
    opacity: 1;
  }
}
.contacts._watcher-view {
  opacity: 1;
}
.contacts__container {
  padding: 0 15px;
}
.contacts__title {
  margin: 0px 0px 15px 0px;
}
.contacts__items {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 767.98px) {
  .contacts__items {
    gap: 20px;
    flex-wrap: wrap;
  }
}

.items-contacts__item {
  box-shadow: 3px 3px 10px 7px rgba(215, 215, 215, 0.2);
  border-radius: 24px;
  padding: 20px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.items-contacts__label {
  text-align: center;
  margin: 0px 0px 15px 0px;
}
.items-contacts__label img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.items-contacts__text {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 25px;
}
.items-contacts__text span {
  font-weight: 800;
  animation: tic 0.5s infinite alternate;
  position: relative;
}

@keyframes tic {
  0% {
    bottom: -1px;
  }
  100% {
    bottom: 1px;
  }
}
.swiper {
  overflow: hidden;
  padding: 20px 30px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
